
[{ namespace: 'aws:elasticbeanstalk:application:environment',
    option_name: 'RAILS_SKIP_MIGRATIONS',
    value: "true"
  },
  {
   namespace: 'aws:elasticbeanstalk:application:environment',
   option_name: 'RACK_ENV',
   value: "development"
 },
 {
   namespace: 'aws:elasticbeanstalk:application:environment',
   option_name: 'RAILS_ENV',
   value: "development"
 }]
